header {
    background-color: #f3f3f3;
}

body {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.connection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    margin: 75px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 65px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_form > * {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 20px;
    font-weight: 600;
}

input {
    align-self: center;
    margin: auto;
}

.button {
    align-self: center;
    margin: auto;
}

.container_form h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
}

.container_form h1::before,
.container_form h1::after {
    content: "";
    width: 10%;
    background: #DBDBDB;
    height: 1px;
    margin: 0.5em 1em;
}