body {
    background-color: #070191;
}

.connection_container {
    width: 300px;
    height: 300px;
    margin: 75px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 55px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}