.section_formulaire {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 1000px;

    display: flex;
    justify-content: center;
}

.box_formulaire {

    margin-top: 40px;
    background-color: #FDFDFD;
    height: 820px;
    width: 400px;


}

.box_formulaire_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 40px;

    font-size: 20px;
    font-weight: 600;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputboxStorage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 40px;
    width: 299px;
}

select {
    font-size: 16px;
    padding: 4px;
    height: 40px;
    width: 299px;
}

.button {
    height: 44px;
    width: 92px;
    font-weight: 600;
    color: #070191;
    text-decoration: none;
    background-color: white;
    border: 2px solid #070191;
    transition: 300ms;

    margin-left: 220px;
    cursor: pointer;
}