.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F5FA;
    box-shadow: rgba(0, 0, 0, 0.35) 8px 10px 15px;
    border-radius: 5px;
    width: 230px;
    height: 320px;
    text-align: center;
}

.card > * {
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: 40%;
    border-radius: 5px 5px 0 0;
}

.body_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;

}

h2 {
    font-size: 12px;
    font-style: bold;
}

p {
    font-size: 12px;
    color: grey;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    background-color: #EBEBEB;
    border-radius: 9px;
    width: 60px;
    padding-left: 4%;
}
body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.header {
    height: 40px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: 600;
}

.header_nav_bar {

    margin: 50px;
    color: #070191;

    cursor: pointer;
}

a{
    text-decoration-line: none;
}

.header_nav_bar:hover {
    text-decoration: underline;
    color: #070191;

}

.first_section {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FDFDFD;

    height: 598px;

    display: flex;
    flex-direction: row;

}

.first_section_title {
    padding-top: 200px;
    margin-left: 101px;
    width: 500px;

    font-size: 90px;
    font-weight: 500;

}

.first_section_images{
    width: 50%;
    margin-left: 100px;

    display: flex;
    gap: 30px;
}

.images_accueil_1{
    height: 170px;
    width: 325px;

    margin-top: 71px;
    border-radius: 30px;
}

.images_accueil_2{
    position: absolute;
    height: 163px;
    width: 408px;

    margin-left: 160px;
    margin-top: 350px;
    border-radius: 30px;

}

.images_accueil_3{
    position: absolute;
    height: 152px;
    width: 205px;

    margin-top: 121px;
    margin-left: 430px;
    border-radius: 30px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    color: #888787;
    height: 40px;
    width: 100%;
    font-weight: 600;
    gap: 30px;
}

.footer_nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
