body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
}


.header {
    height: 146px;
    width: 100%;
}

.first_section {
    background-color: #070191;
    color: #FDFDFD;

    height: 598px;

}

.first_section_title {
    padding-top: 200px;
    margin-left: 101px;
    width: 400px;
    font-size: 90px;


}